@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #00d7bb;
border-radius: 3px;
}
::-webkit-scrollbar-track {
    background-color: #313741;
}
::-webkit-scrollbar-button {
    display: block;
height: 0px;
border-radius: 0px;
background-color: #313741;
}

.menu-scroll {
    background: linear-gradient(to right, #17D396, #07F7F7);
box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.27);
height: 60px;
transition: all 1s;

}
.menu-scroll .navbar {
   padding: 12px 0;
}

.menu-all {
    display: none;  /* !!!!!!!! */
     position: fixed;
     width: 100%;
     height: 100vh;
     z-index: 2000;
     background-color: rgba(0, 0, 0, 0.8);
     top: 0;
     left: 0;
     margin: 0;
     padding: 0;
 }
 .menu-all .menu-elements {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     list-style: none;
     padding-left: 0;
 }
 .menu-all .menu-elements li {
     margin-bottom: 25px;
 }
 .menu-all .menu-elements li a{
     color: #fff;
     display: inline-block;
     font-size: 24px;
     font-weight: 400;
     text-transform: capitalize;
     transition: 0.2s;
 }
 .menu-all .menu-elements li a:hover {
 color: #00D7BB;
 text-decoration: none;
 }
 menu.menu-all .close  {
     background-image: url(/img/cross.png);
 width: 58px;
 height: 58px;
 position: absolute;
 right: 40px;
 top: 40px;
 cursor: pointer;
 }

.menu-top {
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 100;
    top:0;
    display: flex;
    background-color:#22252c;
}
.menu-top .container {
    margin: auto;
}
menu .navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 0;
padding-left: 0;
}
.nav-icons {
    font-size: 18px;
}
.nav-icons a {
    margin-right: 20px;
}
.nav-icons a i {
    transition: all 0.5s;
}
.nav-icons a i:hover {
   transform: scale(1.2, 1.2);
}
.burger {
    font-size: 18px;
}
.burger a i {
    transition: all 0.5s;
}
.burger a i:hover {
   transform: scale(1.2, 1.2);
}
.go-top {
    width: 50px;
    height: 50px;
    position: fixed;
right: 20px;
bottom: 20px;
background: linear-gradient(90deg, #13d68e -0.63%, #0ad8d8 98.73%);
border-radius: 50%;
display: flex;
cursor: pointer;
z-index: 1000;
}
.go-top i {
    color: #fff;
    margin: auto;
}
.slider {
    margin-top: 20px;
}
.project-info h3 {
color: #02cfb4;
font-size: 18px;
font-weight: 700;
margin-bottom: 10px;
margin-top: 20px;
}
.project-info p {
    font-size: 13px;
font-weight: 400;
line-height: 22px;
margin-bottom: 15px;
color: #eaeaea;
}
.project-info p a{
    color: #eaeaea;
    margin-bottom: 15px;
}
.project-info a:hover {
    color: #02cfb4;
    text-decoration: none;
}
.project-info a i {
    color: #eaeaea;
    margin-right: 20px;
}
.project-info a i:hover {
    color: #02cfb4;
}